footer div {
    display: flex;
    justify-content: center;
}
footer div ul {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-decoration: none;    
}


